/*Fuente exportada para el titulo*/
@font-face 
{
    font-family:"press";
    src: url(Fonts/Press_Start_2P/PressStart2P-Regular.ttf) format("truetype");
}
/*Fuente exportada para el cuerpo*/
@font-face 
{
    font-family:"jersey";
    src: url(Fonts/Jersey_10_Charted/Jersey10Charted-Regular.ttf) format("truetype");
}
/*Animacion*/
@keyframes latido
{
   from
   {
        transform: scale(1);
    }
    to
    {
        transform: scale(1.05);
    }
}
/*Pasaje a dispositivos tablets*/
@media (max-width: 768px)
{
    .intro
    {
        grid-template-columns: 1fr;
    }
    .intro img
    {
        width: 100%;
    }
    .navegador
    {
        font-size: 15px;
        margin: 0 10% 0  10%;
    }
    iframe
    {
        width: 100%;
        height: 300px;
    }
}
/*Pasaje a dispositivos moviles*/
@media (max-width: 480px){
    .titulo
    {
        font-size: 40px;
        padding: 15px;
    }
    .navegador
    {
        font-size: 12px;
        margin: 0;
        border-radius: 0;
    }
    .navegador ul
    {
        padding: 0;
    }
    .navegador li
    {
        list-style: none;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .box-navegador
    {
        margin: 0;
        border-radius: 0;
        padding: 20px;
    }
    .intro
    {
        display: flex;
        flex-direction: column;
    }
    .asides
    {
        width: auto;
    }
    iframe
    {
        width: 100%;
        height: 220px;
    }
    .tabla
    {
        margin: 0%;
        width: 75%;
        justify-content: start;
        text-align: start;
        font-size: 5px;
    }
    img
    {
        max-width: 100%;
        height: auto;
    }
    .videos
    {
        width: 100%;
    }
    #Derechos
    {
        font-size: 5px;
    }
}
/*Roots de colores*/
:root
{
    --l-cajas: white;
    --c-cajas: black;
    --l-fcajas:black;
    --c-titulo:rgb(18, 10, 10);
}
/*Manejo del diseño del body*/
body 
{
    background-color: rgba(85, 75, 75, 0.889);
    font-family: "press";
    text-align: center;
}
/*Manejo del diseño del texto en el body*/
body p
{
    background-color: var(--c-cajas);
    color: var(--l-cajas);
    margin: 10px;
    padding: 20px;
    line-height: 30px;
}
/*Diseño del titulo*/
.titulo
{
    justify-content: center;
    display: flex;
    font-family:"jersey";
    font-size: 100px;
    background-color: red; 
    color: var(--c-titulo);
    padding: 10px;
}
/*Diseño del bloque del navegador*/
.navegador
{
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: "press";
    font-size: 20px;
    background-color: var(--l-cajas);
    color: red;
    margin: 0 25% 0 25%;
    border-radius: 25px;
    box-shadow: 10px 10px 0px grey;
    line-height: 150%;
}
/*Diseño de los enlaces dentro del navegador*/
.navegador a
{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--l-fcajas);
}
/*Efecto hover de los enlaces dentro del navegador*/
.navegador a:hover
{
    background-color: var(--c-cajas);
    color: var(--l-cajas) ;
    padding: 5px;
}
/*Diseño del bloque de los enlaces*/
.box-navegador
{
    display: flex;
    background-color: red;
    padding: 40px 0 40px;
    margin: 0 15% 0 15%;
    border-radius: 40px;
}
/*Tamaño de los archivos multimedia (audio,iframes,img)*/
.multimedia
{
    margin: 10px 0 10px;
}
/*Ingreso de animacion en el audio*/
.audio 
{
    animation: latido 2s infinite ease-in-out;
}
/*Diseño de la tabla*/
.tabla
{
    line-height: 45px;
    justify-content: center;
    text-align: center;
    margin: 0 23% 0 23%;
    transition: background-color 0.5s ease-in-out;
}
/*Efecto hover de la tabla*/
.tabla:hover
{
    background-color: rgb(45, 45, 45);
}
/*Implementacion de bordes y su radio*/
.bordes
{
    border: 5px solid black;
    margin: 10px 0 10px;
    border-radius: 10px;
}
/*Diseño del aside*/
.asides
{
    display: block;
    width: 225px;
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
/*Grid que contiene datos introductorios o simple contenido de la pagina*/
.intro
{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    gap: 30px;
}
/*Diseño del iframe dentro del grid*/
.intro iframe
{
    margin-top: 10px;
    width: 100%;
    height: 400px;
}
/*Diseño del img dentro del grid*/
.intro img
{
    width: 100%;
}
/*Diseño del bloque del footer*/
.box-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Diseño del boton dentro del bloque del footer*/
.box-footer button 
{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
/*Efecto hover del boton dentro del bloque del footer*/
.box-footer button:hover
{
    transform: scale(1.3);
}
/*Efecto cuando el boton del bloque del footer es presionado*/
.box-footer button:active
{
    transform: scale(0.85);
}
#Formulario form
{
    background-color: white;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    line-height: 30px;
}
fieldset
{
    border: 5px solid black;
}
legend
{
    font-size: 35px;
    line-height: 75px;
}
#Casa
{
    display: none;
}
#Pueblo_Paleta
{
    display: none;
}
#Laboratorio
{
    display: none;
}
#Ruta_1
{
    display: none;
}
#Ciudad_Verde
{
    display: none;
}
#Ruta_2
{
    display: none;
}
#Bosque_Verde
{
    display: none;
}
#Ciudad_Plateada
{
    display: none;
}
#Video
{
    display: none;
}
#Inicio_Guia
{
    margin: 50px;
    padding: 20px;
    font-size: 50px;
    font-family: "press";
}
#Anterior
{
    background: none;
    border: none;
    font-size: 50px;
    font-family: "press";
    margin-right: 500px;
    display: none;
}
#Siguiente
{
    background: none;
    border: none;
    font-size: 50px;
    font-family: "press";
    margin-left: 500px;
    display: none;
}